.navo{
    background-color: black;
    font-family:  courier;
    font-weight: bold;
    font-size: 20px;
    color:white;
    border-color: transparent;
    text-align: center;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black; 
    /* background-color: transparent; */
}
